.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 0;
  padding-right: 10px;
  padding: 10px 10px 0 10px;
  background-color: #f56464;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
address {
  font-weight: bold;
}
.footer-address-icon {
  padding-right: 10px;
}
.flag {
  width: 30px;
}
.landing {
  width: 100%;
  height: 275px;
  padding-bottom: 5px;
}
.tab-content {
  padding-top: 10px;
}
