@yellow: #fffa19;
@red: #f56464 ;
@green: #29d91c ;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.espaciado(@top: 0px, @left: 0px, @bottom: 0px, @right: 0px){
  padding-top: @top;
  padding-left: @left;
  padding-bottom: @bottom;
  padding-right: @right;
}

.jumbotron {
  background-color: @yellow;
  color: black;
  .margenes(50px, 0px);
  }

footer {
  .espaciado(10px, 10px, 0, 10px);
  padding: 10px 10px 0 10px;
  background-color: @red;
  .margenes(10px, 0px);
   }

.card-hotel {
  flex: 1 200px; 
  .margenes(10px, 0px);
  }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

address {
  font-weight: bold; }

.footer-address-icon {
  padding-right: 10px; }

.flag {
  width: 30px; }

.landing {
  width: 100%;
  height: 275px;
  padding-bottom: 5px; }

.tab-content {
  padding-top: 10px;
 }
