.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 0;
  padding-right: 10px;
  background-color: #f56464;
  margin-top: 0px;
  margin-bottom: 10px; }

.card-hotel {
  flex: 1 200px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

address {
  font-weight: bold; }

.footer-address-icon {
  padding-right: 10px; }

.flag {
  width: 30px; }

.landing {
  width: 100%;
  height: 275px;
  padding-bottom: 5px; }

.tab-content {
  padding-top: 10px;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0; }
