$yellow: #fffa19;
$red: #f56464 ;
$green: #29d91c ;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin espaciado($top, $left, $bottom, $right){
	padding-top: $top;
	padding-left: $left;
	padding-bottom: $bottom;
	padding-right: $right;
}

.jumbotron {
	background-color: $yellow;
	color: black;
	@include margenes(50px, 0px);
}

footer {
	@include espaciado(10px, 10px, 0, 10px);
	background-color: $red;
	@include margenes(0px, 10px);
}

.card-hotel {
	flex: 1 200px;
	
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

address {
	font-weight: bold;
}

.footer-address-icon {
	padding-right: 10px;
}

.flag {
	width: 30px;
}

.landing {
	width: 100%;
	height: 275px;
	padding-bottom: 5px;
}

.tab-content {
	@include espaciado(10px, 0, 0, 0);
	
}